In [246]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

import excel file

In [174]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [175]:
THE= pd.read_excel("/content/drive/MyDrive/Project/Times Higher Education.xlsx")

# VIEW DATASETS

display first 5 rows:

In [176]:
THE.head()

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__number 5,sdg-score-multi__value 5,sdg-score-multi__number 6,sdg-score-multi__value 6,sdg-score-multi__number 7,sdg-score-multi__value 7,sdg-score-multi__number 8,sdg-score-multi__value 8
0,1,Western Sydney University,https://www.timeshighereducation.com/world-uni...,Australia,5.0,80.3,12.0,93.4,15.0,96.7,98.8,99.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,University of Manchester,https://www.timeshighereducation.com/world-uni...,United Kingdom,15.0,97.4,12.0,92.9,11.0,92.2,94.8,97.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Queenâ€™s University,https://www.timeshighereducation.com/world-uni...,Canada,2.0,90.6,16.0,93.4,11.0,91.0,92.6,97.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Universiti Sains Malaysia,https://www.timeshighereducation.com/world-uni...,Malaysia,16.0,94.1,2.0,86.4,1.0,84.9,97.8,96.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,University of Tasmania,https://www.timeshighereducation.com/world-uni...,Australia,13.0,92.8,15.0,96.2,14.0,95.1,96.3,96.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

size of Data frame:

In [ ]:
# size
THE.size

31820

Number of rows and columns:

In [ ]:
# numbers of rows and columns
THE.shape

(1591, 20)

# Data profiling

Descriptive analysis:

In [ ]:
# columns name
THE.columns

Index(['Rank', 'University Name ', 'ranking-institution-title href',
       'Location', 'sdg-score-multi__number', 'sdg-score-multi__value',
       'sdg-score-multi__number 2', 'sdg-score-multi__value 2',
       'sdg-score-multi__number 3', 'sdg-score-multi__value 3',
       'sdg-score-multi__value 4', 'scores', 'sdg-score-multi__number 5',
       'sdg-score-multi__value 5', 'sdg-score-multi__number 6',
       'sdg-score-multi__value 6', 'sdg-score-multi__number 7',
       'sdg-score-multi__value 7', 'sdg-score-multi__number 8',
       'sdg-score-multi__value 8'],
      dtype='object')

view data type of each column:

In [177]:
THE.dtypes

Rank                               object
University Name                    object
ranking-institution-title href     object
Location                           object
sdg-score-multi__number           float64
sdg-score-multi__value             object
sdg-score-multi__number 2         float64
sdg-score-multi__value 2           object
sdg-score-multi__number 3         float64
sdg-score-multi__value 3           object
sdg-score-multi__value 4           object
scores                             object
sdg-score-multi__number 5         float64
sdg-score-multi__value 5           object
sdg-score-multi__number 6         float64
sdg-score-multi__value 6           object
sdg-score-multi__number 7         float64
sdg-score-multi__value 7           object
sdg-score-multi__number 8         float64
sdg-score-multi__value 8           object
dtype: object

descriptive analysis:

In [179]:
THE.describe()

,sdg-score-multi__number,sdg-score-multi__number 2,sdg-score-multi__number 3,sdg-score-multi__number 5,sdg-score-multi__number 6,sdg-score-multi__number 7,sdg-score-multi__number 8
count,867.000000,826.000000,812.000000,565.000000,498.000000,439.000000,483.000000
mean,8.193772,8.446731,7.902709,5.488496,6.777108,7.596811,5.962733
std,4.240660,4.786111,4.403411,3.151375,3.230968,4.278980,3.346928
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000
25%,4.000000,4.000000,5.000000,3.000000,4.000000,4.000000,4.000000
50%,9.000000,8.000000,8.000000,5.000000,6.000000,7.000000,4.000000
75%,11.000000,12.000000,11.000000,8.000000,8.000000,10.000000,7.000000
max,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000

In [180]:
THE.describe(include='object')

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__value,sdg-score-multi__value 2,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__value 5,sdg-score-multi__value 6,sdg-score-multi__value 7,sdg-score-multi__value 8
count,1591,1591,1500,1500,867,825,805,1583,1591,557,496,439,483
unique,64,1591,1500,110,250,236,228,87,64,147,143,113,108
top,1001+,Western Sydney University,https://www.timeshighereducation.com/world-uni...,Turkey,73.0â€“87.2,45.2â€“58.6,48.4â€“57.7,1.5â€“45.2,7.9â€“53.8,44.7â€“54.5,48.4â€“57.7,48.4â€“57.7,2.8â€“35.7
freq,591,1,1,79,28,22,20,579,591,36,23,20,33

In [181]:
THE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591 entries, 0 to 1590
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            1591 non-null   object
 1   University Name                 1591 non-null   object
 2   ranking-institution-title href  1500 non-null   object
 3   Location                        1500 non-null   object
 4   sdg-score-multi__number         867 non-null    float64
 5   sdg-score-multi__value          867 non-null    object
 6   sdg-score-multi__number 2       826 non-null    float64
 7   sdg-score-multi__value 2        825 non-null    object
 8   sdg-score-multi__number 3       812 non-null    float64
 9   sdg-score-multi__value 3        805 non-null    object
 10  sdg-score-multi__value 4        1583 non-null   object
 11  scores                          1591 non-null   object
 12  sdg-score-multi__number 5       565 non-null    float64
 13  sdg-score-multi__value 5        557 non-null    object
 14  sdg-score-multi__number 6       498 non-null    float64
 15  sdg-score-multi__value 6        496 non-null    object
 16  sdg-score-multi__number 7       439 non-null    float64
 17  sdg-score-multi__value 7        439 non-null    object
 18  sdg-score-multi__number 8       483 non-null    float64
 19  sdg-score-multi__value 8        483 non-null    object
dtypes: float64(7), object(13)
memory usage: 248.7+ KB

### Data Quality Checks

#### 1. Reliability:

after checking,The dataset collected from a trustworthy source

#### 2. Timeliness:

The only available dataset for us relates to 2023

#### 3. Consistency:

can't check that because each datasets have a different system ranking

#### 4. Relevance:

we have to drop href column because it's not relevance to our analysis:

In [183]:
# removed herf not important in analysis
THE.drop('ranking-institution-title href',axis=1,inplace=True)

#### 5. Uniqueness:

shouldn't be duplicated rows because each university has one row representing it's values  we check that by using duplicated method:

In [185]:
# To check there is no duplicate rows in THE dataset
THE.duplicated().sum()

0

make sure there's no duplicate name of university:

In [ ]:
#MAKE SHURE UNIVERSITY NAMES ARE NOT DUPLICATED
THE["University Name "].nunique()

1591

make sure there are no duplicate goal number in the same row in different columns which are:
sdg-score-multi__number,sdg-score-multi__number 2,sdg-score-multi__number 3,sdg-score-multi__number 5,sdg-score-multi__number 6,sdg-score-multi__number 7,sdg-score-multi__number 8

we build checkerr method to check that

In [186]:
#as dg-score-multi__number represent the sdg gaol number we want to make sure the same goal is not duplicated for the same row

def checkerr(roww):
  lst=[i for i in roww.tolist() if pd.notna(i)]
  sett=set(lst)
  for i in sett:
    if lst.count(i) > 1:
      return False
  return True

In [187]:
# check with THE dataset
results=THE[['sdg-score-multi__number','sdg-score-multi__number 2','sdg-score-multi__number 3','sdg-score-multi__number 5','sdg-score-multi__number 6','sdg-score-multi__number 7','sdg-score-multi__number 8' ]].apply(checkerr,axis=1)
results.value_counts()
#after running the cell it shows there is no duplicated sdg gaol number for the same row

True    1591
Name: count, dtype: int64

the result above shows there's no duplicate goal number in the same row

#### 6. Completeness:

Check null values in each column by using isnull() method:

In [188]:
THE.isnull().sum()

Rank                            0
University Name                 0
Location                       91
sdg-score-multi__number       724
sdg-score-multi__value        724
sdg-score-multi__number 2     765
sdg-score-multi__value 2      766
sdg-score-multi__number 3     779
sdg-score-multi__value 3      786
sdg-score-multi__value 4        8
scores                          0
sdg-score-multi__number 5    1026
sdg-score-multi__value 5     1034
sdg-score-multi__number 6    1093
sdg-score-multi__value 6     1095
sdg-score-multi__number 7    1152
sdg-score-multi__value 7     1152
sdg-score-multi__number 8    1108
sdg-score-multi__value 8     1108
dtype: int64

**clean location to be nonnull values in null cells:**

In [190]:
#slack dataframe contains rows that have nan value in the location column
slack = THE[THE["Location"].isnull()]
slack.head(45)

,Rank,University Name,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__number 5,sdg-score-multi__value 5,sdg-score-multi__number 6,sdg-score-multi__value 6,sdg-score-multi__number 7,sdg-score-multi__value 7,sdg-score-multi__number 8,sdg-score-multi__value 8
248,201â€“300,Kazan Federal University,NaN,8.0,74.3,16.0,74.1,4.0,75.6â€“81.7,NaN,76.8â€“82.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,201â€“300,Peter the Great St Petersburg Polytechnic Univ...,NaN,9.0,88.9,8.0,66.4â€“71.5,11.0,67.1â€“76.0,75.6â€“81.7,76.8â€“82.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,201â€“300,RUDN University,NaN,4.0,84.5,8.0,66.4â€“71.5,5.0,67.7,53.4â€“61.0,76.8â€“82.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,301â€“400,Altai State University,NaN,4.0,78.7,8.0,66.4â€“71.5,16.0,53.4â€“61.0,NaN,72.7â€“76.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,301â€“400,Bauman Moscow State Technical University,NaN,4.0,81.1,13.0,56.6â€“66.3,9.0,73.0â€“87.2,61.1â€“70.5,72.7â€“76.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,301â€“400,Irkutsk National Research Technical University,NaN,8.0,62.4â€“66.3,7.0,61.8â€“67.8,12.0,58.7â€“66.7,70.6â€“75.5,72.7â€“76.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,301â€“400,National Research Nuclear University MEPhI,NaN,9.0,73.0â€“87.2,12.0,66.8â€“76.6,10.0,65.2â€“73.3,75.6â€“81.7,72.7â€“76.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455,401â€“600,Financial University under the Government of t...,NaN,9.0,73.0â€“87.2,8.0,57.8â€“62.2,7.0,51.9â€“56.1,1.5â€“45.2,66.9â€“72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,401â€“600,Immanuel Kant Baltic Federal University,NaN,16.0,66.4â€“71.5,8.0,65.2â€“73.3,10.0,1.5â€“45.2,NaN,66.9â€“72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471,401â€“600,ITMO University,NaN,8.0,48.4â€“57.7,9.0,91.1,11.0,60.1â€“67.0,45.3â€“53.3,66.9â€“72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,401â€“600,Kursk State Medical University,NaN,10.0,77.4,3.0,73.5â€“78.9,8.0,66.4â€“71.5,1.5â€“45.2,66.9â€“72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
506,401â€“600,Moscow Institute of Physics and Technology (MIPT),NaN,9.0,73.0â€“87.2,8.0,62.4â€“66.3,1.0,60.3â€“68.4,45.3â€“53.3,66.9â€“72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,401â€“600,Russian Biotechnological University (BIOTECH),NaN,2.0,68.5,5.0,56.1â€“61.4,4.0,62.6â€“66.5,53.4â€“61.0,66.9â€“72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,401â€“600,Plekhanov Russian University of Economics,NaN,4.0,83.5,8.0,57.8â€“62.2,NaN,NaN,53.4â€“61.0,66.9â€“72.6,5.0,56.1â€“61.4,NaN,NaN,NaN,NaN,NaN,NaN
551,401â€“600,Siberian Federal University,NaN,2.0,56.3â€“67.3,15.0,59.5â€“72.2,11.0,52.5â€“60.0,70.6â€“75.5,66.9â€“72.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,601â€“800,Industrial University of Tyumen,NaN,4.0,62.6â€“66.5,11.0,60.1â€“67.0,10.0,1.5â€“45.2,57.6â€“65.1,59.7â€“66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
730,601â€“800,North-Caucasus Federal University,NaN,16.0,54.5â€“60.1,8.0,57.8â€“62.2,NaN,NaN,1.5â€“45.2,59.7â€“66.7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
731,601â€“800,North-Eastern Federal University,NaN,NaN,NaN,8.0,35.7â€“48.3,1.0,54.5â€“60.1,53.4â€“61.0,59.7â€“66.7,5.0,43.7â€“51.5,NaN,NaN,NaN,NaN,NaN,NaN
733,601â€“800,Novosibirsk State Agrarian University,NaN,2.0,72.8,15.0,59.5â€“72.2,6.0,42.8â€“49.1,1.5â€“45.2,59.7â€“66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
739,601â€“800,Perm State University,NaN,8.0,48.4â€“57.7,15.0,59.5â€“72.2,11.0,60.1â€“67.0,53.4â€“61.0,59.7â€“66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750,601â€“800,Russian State Agrarian University â€“ Moscow Tim...,NaN,4.0,66.6â€“73.0,11.0,60.1â€“67.0,2.0,48.3â€“56.2,1.5â€“45.2,59.7â€“66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,601â€“800,Southern Federal University,NaN,8.0,48.4â€“57.7,16.0,60.3â€“72.9,9.0,61.1â€“70.5,NaN,59.7â€“66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,601â€“800,South Ural State University,NaN,8.0,66.4â€“71.5,16.0,60.1â€“67.0,11.0,NaN,61.1â€“70.5,59.7â€“66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783,601â€“800,Tomsk Polytechnic University,NaN,9.0,73.0â€“87.2,11.0,60.1â€“67.0,4.0,43.6â€“50.9,70.6â€“75.5,59.7â€“66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790,601â€“800,Volgograd State University,NaN,8.0,57.8â€“62.2,16.0,43.7â€“51.5,5.0,53.4â€“61.0,NaN,59.7â€“66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831,801â€“1000,Bashkir State University,NaN,4.0,51.0â€“58.6,NaN,NaN,16.0,NaN,70.6â€“75.5,53.9â€“59.6,5.0,43.7â€“51.5,NaN,NaN,NaN,NaN,NaN,NaN
832,801â€“1000,Bashkir State Medical University,NaN,3.0,68.3â€“73.4,5.0,43.7â€“51.5,4.0,35.8â€“43.5,1.5â€“45.2,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
834,801â€“1000,Belgorod State National Research University,NaN,8.0,57.8â€“62.2,3.0,54.7â€“63.8,9.0,51.0â€“60.2,53.4â€“61.0,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,801â€“1000,Lobachevsky State University of Nizhni Novgorod,NaN,11.0,52.5â€“60.0,10.0,51.8â€“57.5,9.0,60.3â€“72.9,45.3â€“53.3,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
930,801â€“1000,Novosibirsk State Technical University,NaN,NaN,60.3â€“68.4,8.0,48.4â€“57.7,7.0,38.7â€“51.8,1.5â€“45.2,53.9â€“59.6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
936,801â€“1000,Perm National Research Polytechnic University,NaN,9.0,60.3â€“72.9,8.0,57.8â€“62.2,4.0,58.7â€“62.5,1.5â€“45.2,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953,801â€“1000,Rostov State University of Economics,NaN,5.0,51.6â€“56.0,8.0,48.4â€“57.7,16.0,1.5â€“45.2,NaN,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954,801â€“1000,Ryazan State Medical University,NaN,3.0,73.5â€“78.9,10.0,51.8â€“57.5,8.0,35.7â€“48.3,53.4â€“61.0,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
958,801â€“1000,Samara National Research University (Samara Un...,NaN,8.0,57.8â€“62.2,11.0,67.1â€“76.0,7.0,56.2â€“61.7,1.5â€“45.2,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
959,801â€“1000,Samara State Medical University,NaN,5.0,43.7â€“51.5,3.0,73.5â€“78.9,9.0,33.9â€“50.8,53.4â€“61.0,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
960,801â€“1000,Samara State Technical University,NaN,4.0,43.6â€“50.9,8.0,48.4â€“57.7,NaN,NaN,1.5â€“45.2,53.9â€“59.6,11.0,38.5â€“52.3,NaN,NaN,NaN,NaN,NaN,NaN
966,801â€“1000,Siberian State Medical University,NaN,8.0,48.4â€“57.7,3.0,81.4,5.0,43.7â€“51.5,61.1â€“70.5,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
973,801â€“1000,St Petersburg Electrotechnical University (LETI),NaN,8.0,62.4â€“66.3,9.0,60.3â€“72.9,7.0,1.5â€“45.2,38.7â€“51.8,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,801â€“1000,Tomsk State University of Control Systems and ...,NaN,8.0,48.4â€“57.7,1.0,54.5â€“60.1,9.0,60.3â€“72.9,1.5â€“45.2,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,801â€“1000,Tver State Technical University,NaN,NaN,NaN,8.0,57.8â€“62.2,5.0,43.7â€“51.5,45.3â€“53.3,53.9â€“59.6,11.0,38.5â€“52.3,NaN,NaN,NaN,NaN,NaN,NaN
988,801â€“1000,Ufa State Petroleum Technological University,NaN,11.0,62.4â€“66.3,8.0,38.5â€“52.3,7.0,45.3â€“53.3,38.7â€“51.8,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,801â€“1000,Voronezh State University,NaN,8.0,57.8â€“62.2,16.0,44.7â€“54.5,3.0,1.5â€“45.2,NaN,53.9â€“59.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,1001+,Belarusian State University of Informatics and...,NaN,3.0,44.7â€“54.5,10.0,40.0â€“51.7,7.0,1.5â€“45.2,56.2â€“61.7,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1126,1001+,University of Civil Protection,NaN,1.0,38.2â€“49.4,NaN,NaN,11.0,1.5â€“20.8,1.5â€“45.2,7.9â€“53.8,3.0,1.0â€“32.0,NaN,NaN,NaN,NaN,NaN,NaN
1146,1001+,Don State Technical University,NaN,8.0,62.4â€“66.3,10.0,51.8â€“57.5,1.0,38.2â€“49.4,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
slack.tail(46)

,Rank,University Name,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__number 5,sdg-score-multi__value 5,sdg-score-multi__number 6,sdg-score-multi__value 6,sdg-score-multi__number 7,sdg-score-multi__value 7,sdg-score-multi__number 8,sdg-score-multi__value 8
1147,1001+,Dostoevsky Omsk State University,NaN,8.0,35.7â€“48.3,9.0,33.9â€“50.8,10.0,25.6â€“39.9,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1191,1001+,Gomel State Medical University,NaN,8.0,35.7â€“48.3,3.0,63.9â€“68.2,NaN,NaN,1.5â€“45.2,7.9â€“53.8,4.0,2.8â€“35.7,NaN,NaN,NaN,NaN,NaN,NaN
1195,1001+,Gubkin Russian State University of Oil and Gas,NaN,7.0,11.1â€“38.6,16.0,NaN,NaN,1.5â€“45.2,22.1â€“34.3,7.9â€“53.8,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1233,1001+,Irkutsk State University,NaN,8.0,35.7â€“48.3,16.0,38.2â€“49.4,1.0,NaN,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1245,1001+,Ivanovo State University,NaN,1.0,23.3â€“38.1,4.0,32.1â€“44.6,3.0,1.5â€“45.2,2.8â€“35.7,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1255,1001+,Kabardino-Balkarian State University,NaN,10.0,51.8â€“57.5,8.0,57.8â€“62.2,4.0,51.0â€“58.6,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1270,1001+,Kazan National Research Technical University,NaN,9.0,51.0â€“60.2,4.0,NaN,NaN,1.5â€“45.2,43.6â€“50.9,7.9â€“53.8,NaN,40.0â€“51.7,10.0,NaN,NaN,NaN,NaN,NaN
1271,1001+,Kazan National Research Technological University,NaN,8.0,48.4â€“57.7,9.0,33.9â€“50.8,4.0,2.8â€“35.7,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1272,1001+,Kazan State Medical University,NaN,3.0,73.5â€“78.9,9.0,17.2â€“33.8,16.0,NaN,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1274,1001+,Kemerovo State University,NaN,2.0,15.3â€“38.3,4.0,66.6â€“73.0,13.0,25.7â€“41.3,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1288,1001+,Kuban State Technological University,NaN,4.0,62.4â€“66.3,8.0,43.6â€“50.9,1.0,45.3â€“53.3,38.2â€“49.4,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1316,1001+,MIREA - Russian Technological University,NaN,9.0,17.2â€“33.8,NaN,NaN,5.0,22.1â€“34.3,1.5â€“45.2,7.9â€“53.8,4.0,2.8â€“35.7,NaN,NaN,NaN,NaN,NaN,NaN
1321,1001+,Moscow Pedagogical State University,NaN,8.0,48.4â€“57.7,16.0,NaN,4.0,51.0â€“58.6,45.3â€“53.3,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322,1001+,Moscow Power Engineering Institute,NaN,13.0,25.7â€“41.3,11.0,20.9â€“38.4,7.0,11.1â€“38.6,45.3â€“53.3,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1323,1001+,Moscow State University of Design and Technology,NaN,8.0,35.7â€“48.3,NaN,43.6â€“50.9,4.0,1.5â€“45.2,43.7â€“51.5,7.9â€“53.8,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1324,1001+,Moscow Technical University of Communications ...,NaN,11.0,1.5â€“20.8,4.0,35.8â€“43.5,NaN,NaN,1.5â€“45.2,7.9â€“53.8,8.0,35.7â€“48.3,NaN,NaN,NaN,NaN,NaN,NaN
1351,1001+,National Research Saratov State University,NaN,4.0,35.8â€“43.5,8.0,48.4â€“57.7,NaN,NaN,1.5â€“45.2,7.9â€“53.8,3.0,32.1â€“44.6,NaN,NaN,NaN,NaN,NaN,NaN
1363,1001+,Nizhny Novgorod State Technical University,NaN,4.0,35.7â€“48.3,8.0,2.8â€“35.7,9.0,1.5â€“45.2,33.9â€“50.8,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1366,1001+,Novosibirsk State University of Economics and ...,NaN,8.0,48.4â€“57.7,16.0,20.9â€“38.4,11.0,NaN,45.3â€“53.3,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1373,1001+,Omsk State Agrarian University,NaN,1.0,23.3â€“38.1,11.0,20.9â€“38.4,2.0,1.5â€“45.2,48.3â€“56.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1374,1001+,Omsk State Technical University,NaN,NaN,NaN,10.0,51.8â€“57.5,9.0,51.0â€“60.2,1.5â€“45.2,7.9â€“53.8,8.0,35.7â€“48.3,NaN,NaN,NaN,NaN,NaN,NaN
1376,1001+,Orel State University named after I.S. Turgenev,NaN,4.0,2.8â€“35.7,8.0,57.8â€“62.2,NaN,NaN,1.5â€“45.2,7.9â€“53.8,3.0,54.7â€“63.8,NaN,NaN,NaN,NaN,NaN,NaN
1379,1001+,Pacific National University,NaN,NaN,NaN,16.0,43.6â€“50.9,8.0,35.7â€“48.3,1.5â€“45.2,7.9â€“53.8,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1384,1001+,Pavlov First Saint Petersburg State Medical Un...,NaN,5.0,34.4â€“43.6,3.0,73.5â€“78.9,4.0,2.8â€“35.7,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1392,1001+,Platov South-Russian State Polytechnic Univers...,NaN,9.0,33.9â€“50.8,2.0,15.3â€“38.3,12.0,26.1â€“49.1,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1402,1001+,Privolzhsky Research Medical University,NaN,3.0,73.5â€“78.9,4.0,43.6â€“50.9,2.0,15.3â€“38.3,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1406,1001+,Pskov State University,NaN,4.0,35.8â€“43.5,8.0,48.4â€“57.7,16.0,NaN,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1422,1001+,Russian Presidential Academy of National Econo...,NaN,3.0,32.1â€“44.6,4.0,43.6â€“50.9,16.0,NaN,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423,1001+,Russian State University for the Humanities,NaN,NaN,NaN,16.0,35.8â€“43.5,4.0,1.5â€“45.2,43.7â€“51.5,7.9â€“53.8,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1427,1001+,Saint Petersburg State Pediatric Medical Unive...,NaN,10.0,25.6â€“39.9,4.0,2.8â€“35.7,5.0,22.1â€“34.3,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1430,1001+,Samara State University of Economics,NaN,16.0,34.4â€“43.6,8.0,1.4â€“35.6,5.0,NaN,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1473,1001+,State University of Land Use Planning,NaN,8.0,57.8â€“62.2,9.0,33.9â€“50.8,2.0,1.5â€“45.2,38.4â€“48.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1474,1001+,Stavropol State Agrarian University,NaN,11.0,38.5â€“52.3,15.0,38.2â€“47.7,NaN,NaN,1.5â€“45.2,7.9â€“53.8,8.0,48.4â€“57.7,NaN,NaN,NaN,NaN,NaN,NaN
1486,1001+,Tambov State Technical University,NaN,11.0,52.5â€“60.0,NaN,NaN,4.0,35.8â€“43.5,1.5â€“45.2,7.9â€“53.8,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1518,1001+,Togliatti State University,NaN,16.0,20.9â€“38.4,11.0,22.1â€“34.3,5.0,53.4â€“61.0,NaN,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525,1001+,Tomsk State Pedagogical University,NaN,4.0,2.8â€“35.7,11.0,20.9â€“38.4,3.0,32.1â€“44.6,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1529,1001+,Tula State University,NaN,3.0,32.1â€“44.6,16.0,51.0â€“58.6,NaN,NaN,1.5â€“45.2,7.9â€“53.8,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535,1001+,Tver State University,NaN,4.0,58.7â€“62.5,8.0,48.4â€“57.7,5.0,51.6â€“56.0,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1536,1001+,University of Tyumen,NaN,NaN,NaN,8.0,35.7â€“48.3,4.0,2.8â€“35.7,1.5â€“45.2,7.9â€“53.8,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1541,1001+,Ulyanovsk State Technical University,NaN,9.0,17.2â€“33.8,3.0,1.0â€“32.0,NaN,NaN,1.5â€“45.2,7.9â€“53.8,4.0,35.8â€“43.5,NaN,NaN,NaN,NaN,NaN,NaN
1544,1001+,Ural State University of Economics,NaN,8.0,48.4â€“57.7,4.0,51.0â€“58.6,10.0,51.8â€“57.5,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1545,1001+,Ural State Medical University,NaN,NaN,NaN,NaN,68.3â€“73.4,3.0,1.5â€“45.2,22.1â€“34.3,7.9â€“53.8,5.0,25.6â€“39.9,10.0,NaN,NaN,NaN,NaN,NaN
1560,1001+,V.I. Vernadsky Crimean Federal University (Ver...,NaN,16.0,NaN,8.0,35.7â€“48.3,9.0,33.9â€“50.8,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1562,1001+,Volgograd State Technical University,NaN,9.0,51.0â€“60.2,11.0,20.9â€“38.4,8.0,57.8â€“62.2,1.5â€“45.2,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1563,1001+,Voronezh State Technical University,NaN,2.0,35.7â€“48.3,8.0,38.4â€“48.2,1.0,1.5â€“45.2,49.5â€“54.4,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,1001+,Yanka Kupala State University of Grodno,NaN,10.0,40.0â€“51.7,16.0,20.9â€“38.4,11.0,NaN,45.3â€“53.3,7.9â€“53.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
# after searching about universities that have nan in location, it turns out all of them are in Russia except three universities in Belarus
# we will change null values to Russia except three universities in Belarus

THE['Location'] = THE['Location'].fillna(
    THE['University Name '].map({'Belarusian State University of Informatics and Radioelectronics': 'Belarus',
                                  'Gomel State Medical University':'Belarus', 'Yanka Kupala State University of Grodno':'Belarus'}))

In [193]:
THE['Location'].isnull().sum()

88

In [194]:
THE['Location'] = THE['Location'].fillna('Russia')

check number of null values in location column:

In [195]:
THE['Location'].isnull().sum()

0

as shown above, the location column does not have null values

In [196]:
THE.isnull().sum()

Rank                            0
University Name                 0
Location                        0
sdg-score-multi__number       724
sdg-score-multi__value        724
sdg-score-multi__number 2     765
sdg-score-multi__value 2      766
sdg-score-multi__number 3     779
sdg-score-multi__value 3      786
sdg-score-multi__value 4        8
scores                          0
sdg-score-multi__number 5    1026
sdg-score-multi__value 5     1034
sdg-score-multi__number 6    1093
sdg-score-multi__value 6     1095
sdg-score-multi__number 7    1152
sdg-score-multi__value 7     1152
sdg-score-multi__number 8    1108
sdg-score-multi__value 8     1108
dtype: int64

clean  sdg-score-multi__number,sdg-score-multi__value,
sdg-score-multi__number 2,sdg-score-multi__value 2,
sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4 columns:

we have observed sdg_number contains the goal number
sdg_value contains the value of that goal since most of the 8 right columns are null we have to move cells that are not null in the rightmost such that the goal number and related value nonnull into leftmost columns that contain null cells in the same sdg_number and sdg_value

In [197]:
# move first nonnull number and value of right most columns to sdg-score-multi__number,sdg-score-multi__value that they are null
def update_scores(row):
  # the number of right most columns from sdg 5 to sdg8 of number and value
    for i in range(5, 9):
        number_col = f'sdg-score-multi__number {i}'
        value_col = f'sdg-score-multi__value {i}'

        if pd.notna(row[number_col]) and pd.notna(row[value_col]):
            # Update the columns
            row['sdg-score-multi__number'] = row[number_col]
            row['sdg-score-multi__value'] = row[value_col]

            # Set the number and value to NaN in right most column
            row[number_col] = np.nan
            row[value_col] = np.nan

            # Break to prevent checking subsequent columns for this row
            break

    return row

In [198]:
THE.loc[THE['sdg-score-multi__number'].isnull() & THE['sdg-score-multi__value'].isnull()]=THE[THE['sdg-score-multi__number'].isnull() & THE['sdg-score-multi__value'].isnull()].apply(update_scores,axis=1)

In [199]:
# move first nonnull number and value of right most columns to sdg-score-multi__number2,sdg-score-multi__value2 that they are null

def update_scores2(row):
    for i in range(5, 9):
        number_col = f'sdg-score-multi__number {i}'
        value_col = f'sdg-score-multi__value {i}'

        if pd.notna(row[number_col]) and pd.notna(row[value_col]):
            # Update the columns
            row['sdg-score-multi__number 2'] = row[number_col]
            row['sdg-score-multi__value 2'] = row[value_col]

            # Set number and value columns to NaN
            row[number_col] = np.nan
            row[value_col] = np.nan

            # Break to prevent checking subsequent columns for this row
            break

    return row

In [200]:
THE.loc[THE['sdg-score-multi__number 2'].isnull() & THE['sdg-score-multi__value 2'].isnull()] = THE[THE['sdg-score-multi__number 2'].isnull() & THE['sdg-score-multi__value 2'].isnull()].apply(update_scores2,axis=1)

In [201]:
# move first nonnull number and value of right most columns to sdg-score-multi__number3,sdg-score-multi__value3 that they are null

def update_scores3(row):
    for i in range(5, 9):
        number_col = f'sdg-score-multi__number {i}'
        value_col = f'sdg-score-multi__value {i}'

        if pd.notna(row[number_col]) and pd.notna(row[value_col]):
            # Update the columns
            row['sdg-score-multi__number 3'] = row[number_col]
            row['sdg-score-multi__value 3'] = row[value_col]

            # Set the number and value columns to NaN
            row[number_col] = np.nan
            row[value_col] = np.nan

            # Break to prevent checking subsequent columns for this row
            break

    return row

In [202]:
THE.loc[THE['sdg-score-multi__number 3'].isnull() & THE['sdg-score-multi__value 3'].isnull()] = THE[THE['sdg-score-multi__number 3'].isnull() & THE['sdg-score-multi__value 3'].isnull()].apply(update_scores3,axis=1)

In [203]:
THE.isnull().sum()

Rank                            0
University Name                 0
Location                        0
sdg-score-multi__number        21
sdg-score-multi__value         21
sdg-score-multi__number 2      69
sdg-score-multi__value 2       70
sdg-score-multi__number 3     204
sdg-score-multi__value 3      211
sdg-score-multi__value 4        8
scores                          0
sdg-score-multi__number 5    1582
sdg-score-multi__value 5     1590
sdg-score-multi__number 6    1589
sdg-score-multi__value 6     1591
sdg-score-multi__number 7    1591
sdg-score-multi__value 7     1591
sdg-score-multi__number 8    1591
sdg-score-multi__value 8     1591
dtype: int64

as shown above, still there are null values but fewer than before so to solve this we replace null cells that are in number and values into zero to know that the null value contains a null number and vice versa. and replace -1 with a cell that has a number and doesn't have a value and vice versa.as displayed below:

In [204]:
THE.loc[THE['sdg-score-multi__number'].isnull() & THE['sdg-score-multi__value'].isnull(), ['sdg-score-multi__number', 'sdg-score-multi__value']] = [0, 0.0]
THE.loc[THE['sdg-score-multi__number 2'].isnull() & THE['sdg-score-multi__value 2'].isnull(), ['sdg-score-multi__number 2', 'sdg-score-multi__value 2']] = [0, 0.0]
THE.loc[THE['sdg-score-multi__number 3'].isnull() & THE['sdg-score-multi__value 3'].isnull(), ['sdg-score-multi__number 3', 'sdg-score-multi__value 3']] = [0, 0.0]

In [206]:
THE.loc[THE['sdg-score-multi__number'].isnull(), ['sdg-score-multi__number']] = [-1]
THE.loc[THE['sdg-score-multi__number 2'].isnull(), ['sdg-score-multi__number 2']] = [-1]
THE.loc[THE['sdg-score-multi__number 3'].isnull(), ['sdg-score-multi__number 3']] = [-1]
THE.loc[THE['sdg-score-multi__value'].isnull(), ['sdg-score-multi__value']] = [-1.0]
THE.loc[THE['sdg-score-multi__value 2'].isnull(), ['sdg-score-multi__value 2']] = [-1.0]
THE.loc[THE['sdg-score-multi__value 3'].isnull(), ['sdg-score-multi__value 3']] = [-1.0]
THE.loc[THE['sdg-score-multi__value 4'].isnull(), ['sdg-score-multi__value 4']] = [-1.0]

In [207]:
THE.isnull().sum()

Rank                            0
University Name                 0
Location                        0
sdg-score-multi__number         0
sdg-score-multi__value          0
sdg-score-multi__number 2       0
sdg-score-multi__value 2        0
sdg-score-multi__number 3       0
sdg-score-multi__value 3        0
sdg-score-multi__value 4        0
scores                          0
sdg-score-multi__number 5    1582
sdg-score-multi__value 5     1590
sdg-score-multi__number 6    1589
sdg-score-multi__value 6     1591
sdg-score-multi__number 7    1591
sdg-score-multi__value 7     1591
sdg-score-multi__number 8    1591
sdg-score-multi__value 8     1591
dtype: int64

In [208]:
# create dataframe to hold number and value of right most columns if needed
temp=THE[THE['sdg-score-multi__number 5'].notnull() | THE['sdg-score-multi__value 5'].notnull()|THE['sdg-score-multi__number 6'].notnull() ]

In [209]:
# drop the 8 right most columns because its like more than 90% null
THE.drop(['sdg-score-multi__number 5','sdg-score-multi__value 5','sdg-score-multi__number 6','sdg-score-multi__value 6','sdg-score-multi__number 7','sdg-score-multi__value 7','sdg-score-multi__number 8','sdg-score-multi__value 8'],axis=1,inplace=True)

after cleaning check null values by using isnull method:

In [210]:
THE.isnull().sum()

Rank                         0
University Name              0
Location                     0
sdg-score-multi__number      0
sdg-score-multi__value       0
sdg-score-multi__number 2    0
sdg-score-multi__value 2     0
sdg-score-multi__number 3    0
sdg-score-multi__value 3     0
sdg-score-multi__value 4     0
scores                       0
dtype: int64

as shown above dataframe is clean of missing values >.<

#### 7.Check Accuracy:

check each column has its related data type:

In [ ]:
THE.dtypes

Rank                          object
University Name               object
Location                      object
sdg-score-multi__number      float64
sdg-score-multi__value        object
sdg-score-multi__number 2    float64
sdg-score-multi__value 2      object
sdg-score-multi__number 3    float64
sdg-score-multi__value 3      object
sdg-score-multi__value 4      object
scores                        object
dtype: object

as shown above only University Name and Locations columns their data type valid rest columns require to convert their data type

some sdg-score-multi__value cells contain range we take the mean of lower value and upper value and replace it instead of range to convert value into float  as shown below:

In [211]:
THE['sdg-score-multi__value']=THE['sdg-score-multi__value'].apply(
    lambda s: np.mean([float(x) for x in s.split('â€“')]) if isinstance(s, str) else s)

THE['sdg-score-multi__value 2']=THE['sdg-score-multi__value 2'].apply(
    lambda s: np.mean([float(x) for x in s.split('â€“')]) if isinstance(s, str) else s)

THE['sdg-score-multi__value 3']=THE['sdg-score-multi__value 3'].apply(
    lambda s: np.mean([float(x) for x in s.split('â€“')]) if isinstance(s, str) else s)

THE['sdg-score-multi__value 4']=THE['sdg-score-multi__value 4'].apply(
    lambda s: np.mean([float(x) for x in s.split('â€“')]) if isinstance(s, str) else s)

convert goal number into int:

In [212]:
THE['sdg-score-multi__number']=THE['sdg-score-multi__number'].astype(int)
THE['sdg-score-multi__number 2']=THE['sdg-score-multi__number 2'].astype(int)
THE['sdg-score-multi__number 3']=THE['sdg-score-multi__number 3'].astype(int)

In [214]:
THE.dtypes

Rank                          object
University Name               object
Location                      object
sdg-score-multi__number        int64
sdg-score-multi__value       float64
sdg-score-multi__number 2      int64
sdg-score-multi__value 2     float64
sdg-score-multi__number 3      int64
sdg-score-multi__value 3     float64
sdg-score-multi__value 4     float64
scores                        object
dtype: object

rank should be int data type but  from 101 and above their rank is range and also their score is the range so to do two data frames one contains rank from 1 to 100 and the second data frame separates rank into two columns, lower rank that may be taken and upper rank that may be taken also score will be separated into two columns  lower_score, upper score that may be taken, process be applied below:

In [228]:
THE_above100=THE.loc[102:999,:]

In [229]:
THE_above100.head()

,Rank,University Name,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores
102,101â€“200,Abdullah GÃ¼l University,Turkey,4,73.1,1,79.1,11,71.55,89.00,82.2â€“88.2
103,101â€“200,Ahlia University,Bahrain,10,86.4,8,73.3,0,0.00,84.40,82.2â€“88.2
104,101â€“200,Universitas Airlangga,Indonesia,1,82.7,5,69.3,6,75.50,78.65,82.2â€“88.2
105,101â€“200,Ajou University,South Korea,9,88.9,1,74.4,4,69.80,78.65,82.2â€“88.2
106,101â€“200,Al-Ahliyya Amman University,Jordan,6,87.7,10,79.1,4,76.30,73.05,82.2â€“88.2

In [230]:
THE_above100['Upper_Rank']=THE_above100['Rank'].apply(lambda x:x.split('â€“')[0])
THE_above100['Lower_Rank']=THE_above100['Rank'].apply(lambda x:x.split('â€“')[1])

# Move the last two columns to the front
last_two_cols = THE_above100.columns[-2:]  # Get last two columns
new_order = list(last_two_cols) + list(THE_above100.columns[:-2])  # New order of columns
THE_above100 = THE_above100[new_order]  # Reorder DataFrame

THE_above100['Lower_scores']=THE_above100['scores'].apply(lambda x:x.split('â€“')[0])
THE_above100['Upper_scores']=THE_above100['scores'].apply(lambda x:x.split('â€“')[1])
THE_above100.drop(columns=['Rank','scores'],axis=1,inplace=True)

<ipython-input-230-c7921c5a419e>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-230-c7921c5a419e>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-230-c7921c5a419e>:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-230-c7921c5a419e>:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [231]:
THE_above100

,Upper_Rank,Lower_Rank,University Name,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,Lower_scores,Upper_scores
102,101,200,Abdullah GÃ¼l University,Turkey,4,73.10,1,79.10,11,71.55,89.00,82.2,88.2
103,101,200,Ahlia University,Bahrain,10,86.40,8,73.30,0,0.00,84.40,82.2,88.2
104,101,200,Universitas Airlangga,Indonesia,1,82.70,5,69.30,6,75.50,78.65,82.2,88.2
105,101,200,Ajou University,South Korea,9,88.90,1,74.40,4,69.80,78.65,82.2,88.2
106,101,200,Al-Ahliyya Amman University,Jordan,6,87.70,10,79.10,4,76.30,73.05,82.2,88.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,801,1000,Voronezh State University,Russia,8,60.00,16,49.60,3,23.35,-1.00,53.9,59.6
996,801,1000,University of West Attica,Greece,9,25.50,3,80.70,0,0.00,49.30,53.9,59.6
997,801,1000,Universitas Yarsi,Indonesia,3,59.25,5,64.20,0,0.00,49.30,53.9,59.6
998,801,1000,Zhytomyr Polytechnic State University,Ukraine,6,12.65,8,68.95,16,61.15,49.30,53.9,59.6
999,801,1000,Ziauddin University,Pakistan,4,47.25,5,58.75,3,70.85,49.30,53.9,59.6

rank more than 1000 writes as 1000+ we need to remove +

In [232]:
THE_above1000=THE.loc[1000:,:]

In [233]:
THE_above1000.tail()

,Rank,University Name,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores
1586,1001+,Zarqa University,Jordan,4,47.25,3,38.35,1,30.70,23.35,7.9â€“53.8
1587,1001+,Zewail City of Science and Technology,Egypt,3,49.60,7,24.85,1,57.30,49.30,7.9â€“53.8
1588,1001+,Zhytomyr Ivan Franko State University,Ukraine,8,42.00,10,14.70,5,47.60,23.35,7.9â€“53.8
1589,1001+,University of Å½ilina,Slovakia,11,29.65,9,25.50,4,19.25,23.35,7.9â€“53.8
1590,1001+,Zonguldak BÃ¼lent Ecevit University,Turkey,12,54.00,7,54.00,3,59.25,23.35,7.9â€“53.8

In [234]:
THE_above1000['Upper_Rank']=THE_above1000['Rank'].apply(lambda x:x.split('+')[0])
THE_above1000['Lower_Rank']=1591

# Move the last two columns to the front
last_two_cols = THE_above1000.columns[-2:]  # Get last two columns
new_order = list(last_two_cols) + list(THE_above1000.columns[:-2])  # New order of columns
THE_above1000 = THE_above1000[new_order]  # Reorder DataFrame

THE_above1000['Lower_scores']=THE_above1000['scores'].apply(lambda x:x.split('â€“')[0])
THE_above1000['Upper_scores']=THE_above1000['scores'].apply(lambda x:x.split('â€“')[1])

THE_above1000.drop(columns=['Rank','scores'],axis=1,inplace=True)

<ipython-input-234-d831bb0d0d8b>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-234-d831bb0d0d8b>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-234-d831bb0d0d8b>:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-234-d831bb0d0d8b>:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [235]:
rangeranks=pd.concat([THE_above100,THE_above1000])

In [236]:
rangeranks

,Upper_Rank,Lower_Rank,University Name,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,Lower_scores,Upper_scores
102,101,200,Abdullah GÃ¼l University,Turkey,4,73.10,1,79.10,11,71.55,89.00,82.2,88.2
103,101,200,Ahlia University,Bahrain,10,86.40,8,73.30,0,0.00,84.40,82.2,88.2
104,101,200,Universitas Airlangga,Indonesia,1,82.70,5,69.30,6,75.50,78.65,82.2,88.2
105,101,200,Ajou University,South Korea,9,88.90,1,74.40,4,69.80,78.65,82.2,88.2
106,101,200,Al-Ahliyya Amman University,Jordan,6,87.70,10,79.10,4,76.30,73.05,82.2,88.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1586,1001,1591,Zarqa University,Jordan,4,47.25,3,38.35,1,30.70,23.35,7.9,53.8
1587,1001,1591,Zewail City of Science and Technology,Egypt,3,49.60,7,24.85,1,57.30,49.30,7.9,53.8
1588,1001,1591,Zhytomyr Ivan Franko State University,Ukraine,8,42.00,10,14.70,5,47.60,23.35,7.9,53.8
1589,1001,1591,University of Å½ilina,Slovakia,11,29.65,9,25.50,4,19.25,23.35,7.9,53.8
1590,1001,1591,Zonguldak BÃ¼lent Ecevit University,Turkey,12,54.00,7,54.00,3,59.25,23.35,7.9,53.8

In [237]:
rangeranks['Lower_Rank']=rangeranks['Lower_Rank'].astype(int)
rangeranks['Upper_Rank']=rangeranks['Upper_Rank'].astype(int)
rangeranks['Lower_scores']=rangeranks['Lower_scores'].astype(float)
rangeranks['Upper_scores']=rangeranks['Upper_scores'].astype(float)
rangeranks.dtypes

Upper_Rank                     int64
Lower_Rank                     int64
University Name               object
Location                      object
sdg-score-multi__number        int64
sdg-score-multi__value       float64
sdg-score-multi__number 2      int64
sdg-score-multi__value 2     float64
sdg-score-multi__number 3      int64
sdg-score-multi__value 3     float64
sdg-score-multi__value 4     float64
Lower_scores                 float64
Upper_scores                 float64
dtype: object

as shown above the datatype of each column is valid in second dataframe

In [238]:
THE_below101=THE.loc[:101,:]

In [239]:
THE_below101.tail()

,Rank,University Name,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores
97,=97,Shanghai University,China,9,99.7,7,79.2,8,68.95,78.65,88.6
98,99,University of Toronto,Canada,9,89.2,10,79.2,12,82.20,89.50,88.4
99,=100,Dalhousie University,Canada,12,88.7,14,92.0,6,84.10,84.40,88.3
100,=100,Florida International University,United States,14,95.9,6,87.6,15,91.80,91.20,88.3
101,=100,University of Plymouth,United Kingdom,12,83.8,11,83.7,2,74.60,84.40,88.3

In [241]:
# remove '='
THE_below101['Rank']=THE_below101['Rank'].str.replace('=','',regex=False)
# convert rank into int
THE_below101['Rank']=THE_below101['Rank'].astype(int)
# convert score into float
THE_below101['scores']=THE_below101['scores'].astype(float)

<ipython-input-241-780738e198f4>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-241-780738e198f4>:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-241-780738e198f4>:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [242]:
THE_below101.dtypes

Rank                           int64
University Name               object
Location                      object
sdg-score-multi__number        int64
sdg-score-multi__value       float64
sdg-score-multi__number 2      int64
sdg-score-multi__value 2     float64
sdg-score-multi__number 3      int64
sdg-score-multi__value 3     float64
sdg-score-multi__value 4     float64
scores                       float64
dtype: object

as shown above the data type of first dataframe is valid so now both dataframes contains valid data and valid data type.

# dataframes:

In [243]:
THE_below101

,Rank,University Name,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores
0,1,Western Sydney University,Australia,5,80.3,12,93.4,15,96.70,98.80,99.4
1,2,University of Manchester,United Kingdom,15,97.4,12,92.9,11,92.20,94.80,97.5
2,3,Queenâ€™s University,Canada,2,90.6,16,93.4,11,91.00,92.60,97.2
3,4,Universiti Sains Malaysia,Malaysia,16,94.1,2,86.4,1,84.90,97.80,96.9
4,5,University of Tasmania,Australia,13,92.8,15,96.2,14,95.10,96.30,96.6
...,...,...,...,...,...,...,...,...,...,...,...
97,97,Shanghai University,China,9,99.7,7,79.2,8,68.95,78.65,88.6
98,99,University of Toronto,Canada,9,89.2,10,79.2,12,82.20,89.50,88.4
99,100,Dalhousie University,Canada,12,88.7,14,92.0,6,84.10,84.40,88.3
100,100,Florida International University,United States,14,95.9,6,87.6,15,91.80,91.20,88.3
101,100,University of Plymouth,United Kingdom,12,83.8,11,83.7,2,74.60,84.40,88.3

In [244]:
rangeranks

,Upper_Rank,Lower_Rank,University Name,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,Lower_scores,Upper_scores
102,101,200,Abdullah GÃ¼l University,Turkey,4,73.10,1,79.10,11,71.55,89.00,82.2,88.2
103,101,200,Ahlia University,Bahrain,10,86.40,8,73.30,0,0.00,84.40,82.2,88.2
104,101,200,Universitas Airlangga,Indonesia,1,82.70,5,69.30,6,75.50,78.65,82.2,88.2
105,101,200,Ajou University,South Korea,9,88.90,1,74.40,4,69.80,78.65,82.2,88.2
106,101,200,Al-Ahliyya Amman University,Jordan,6,87.70,10,79.10,4,76.30,73.05,82.2,88.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1586,1001,1591,Zarqa University,Jordan,4,47.25,3,38.35,1,30.70,23.35,7.9,53.8
1587,1001,1591,Zewail City of Science and Technology,Egypt,3,49.60,7,24.85,1,57.30,49.30,7.9,53.8
1588,1001,1591,Zhytomyr Ivan Franko State University,Ukraine,8,42.00,10,14.70,5,47.60,23.35,7.9,53.8
1589,1001,1591,University of Å½ilina,Slovakia,11,29.65,9,25.50,4,19.25,23.35,7.9,53.8
1590,1001,1591,Zonguldak BÃ¼lent Ecevit University,Turkey,12,54.00,7,54.00,3,59.25,23.35,7.9,53.8

Graph

Which universities are ranked in the top 10 globally?

In [247]:
top_10_universities = THE_below101.head(11)
fig = px.bar(top_10_universities,
             x='University Name ',
             y='scores',
             title='Top 10 Ranked Universities',
             width=1000, height= 700,text_auto=True,
             color_discrete_sequence=['#4682B4'])

fig.show()

What positions do universities in Saudi Arabia hold within the global
rankings?

In [251]:
saudi= rangeranks[rangeranks['Location']== "Saudi Arabia"]

fig = go.Figure()

# Add upper rank bars
fig.add_trace(go.Bar(
    x=saudi['University Name '],
    y=saudi['Upper_Rank'],
    name='Upper Rank',
    marker_color='#FF6347'  # Red color for upper rank
))

# Add lower rank bars
fig.add_trace(go.Bar(
    x=saudi['University Name '],
    y=saudi['Lower_Rank'],
    name='Lower Rank',
    marker_color='#4682B4'  # Blue color for lower rank
))

# Update layout for better readability
fig.update_layout(
    barmode='group',
    xaxis_title='University Names',
    yaxis_title='Rank',
    title='THE rank Universities in Saudi Arabia',
    title_x=0.5,
    width=1000,
    height=700
)

# Show the figure
fig.show()